{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
                <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bonjour {{ first_name }}, {{ role }}</h1>
            </div>

            {% block activity %}{% endblock %}

            {# {% if role == "Service" %}
                {% include 'home/_service.html.twig' %}
            {% elseif role == "Bar" %}
                <h1>Bar</h1>
            {% elseif role == "Cuisine"  %}
                <h1>Cuisine</h1>
            {% elseif role == "Repos" %}
                <h1>Tu ne travails pas aujourd'hui.</h1>
            {% else %}
                Sold-out!
            {% endif %} #}
        </div>
    </section>
{% endblock %}
