<div class="flex flex-col items-center justify-center mx-auto p-6 max-w-xs bg-gray-100">
  <img src="/images/serveur.png" alt="{{ text }}" class="w-32 h-32 object-cover mb-4">
  <h2 class="text-2xl font-bold text-gray-700">{{ text }}</h2>
</div>